.calculator {
  &__button {
    font-size: 24px;
    border-radius: 0;
    border: none;
    background-color: var(--button-bg-color);
    min-width: 70px;
    min-height: 50px;
    transition:
      filter 0.3s,
      background-color 0.3s,
      color 0.3s;
    cursor: pointer;
    color: var(--current-calc-font-color);
  }

  &__button-special {
    background-color: var(--special-button-bg-color);
  }
}

@media (hover: hover) and (pointer: fine) {
  .calculator__button:hover {
    filter: brightness(1.2);
  }
}
