.calculator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  margin: auto;
  width: 30vw;
  height: 40dvw;
  min-height: 400px;
  max-height: 700px;
  min-width: 280px;
  max-width: 600px;
  border: 1px solid var(--dark-bg);
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;

  &__screen-expression,
  &__screen-result {
    display: flex;
    font-size: 28px;
    padding: 0 5px;
    align-items: center;
    justify-content: flex-end;
    height: 15%;
    width: 100%;
    border-bottom: 1px solid #000000;
  }

  &__buttons {
    display: grid;
    padding: 5px;
    gap: 1px;
    width: 100%;
    height: 70%;

    grid-template-areas:
      'delete  invert percent division division'
      'number-7 number-8 number-9 multiplication multiplication'
      'number-4 number-5 number-6 minus minus'
      'number-1 number-2 number-3 plus plus'
      'number number evaluation evaluation evaluation'
      'separator-left separator-left  separator-right separator-right comma';
    border-radius: 15px;
    overflow: hidden;
  }

  &__button {
    font-size: 24px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

@media (hover: hover) and (pointer: fine) {
  .calculator__button:hover {
    background-color: beige;
  }
}
