.calculator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  margin: auto;
  width: 85vw;
  min-width: 280px;
  max-width: 600px;
  border: 1px solid rgba(138, 138, 138, 0.75);
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  user-select: none;
  color: var(--current-calc-font-color);
  background-color: var(--calculator-bg-color);
  transition: all 0.3s;

  &__screen-expression,
  &__screen-result {
    display: flex;
    flex-direction: row-reverse;
    font-size: 28px;
    padding: 5px;
    border: 5px solid var(--calculator-bg-color);
    align-items: center;
    text-align: right;
    height: 15%;
    min-height: 15%;
    width: 100%;
    overflow-x: auto;
    transition: all 0.3s;

    &::-webkit-scrollbar {
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(70, 70, 70);
      border-radius: 10px;
    }
  }

  &__screen-expression {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }

  &__screen-result {
    padding-top: 10px;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid var(--night-body);
  }

  &__buttons {
    display: grid;
    gap: 1px;
    width: 100%;
    height: 70%;
    grid-template-areas:
      'reset invert percent delete delete'
      'number-7 number-8 number-9 multiplication division'
      'number-4 number-5 number-6 minus plus'
      'number-1 number-2 number-3 comma evaluation'
      'number number number filler filler';
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
    background-color: black;
  }

  &__button-parenthesis {
    display: none;
  }

  &__filler {
    grid-area: filler;
    background-color: var(--calculator-bg-color);
  }
}

.calculator.pro-mode {
  .calculator__buttons {
    grid-template-areas:
      'reset invert percent delete delete'
      'number-7 number-8 number-9 multiplication division'
      'number-4 number-5 number-6 minus plus'
      'number-1 number-2 number-3 separator-left separator-right'
      'number number number comma comma'
      'filler filler filler evaluation evaluation';
  }

  .calculator__button-parenthesis {
    display: block;
  }
}
