:root {
  --dark-bg: #848484;
  --main-dark: #5c5c5c;
  --red-btn: #ff5f57;
  --yellow-btn: #febd2e;
  --green-btn: #27c840;
  --main-white: #e7e7e7;
  --accent-btn: #ff9f0b;
  --night-body: #2b2a2a;
  --light-body: #f2f2f2;
  --body-bg-color: #2b2a2a;
  --calculator-bg-color: #7d7c7c;
  --button-bg-color: #848484;
  --special-button-bg-color: #ff9f0b;
  --current-calc-font-color: #e7e7e7;
}
