@import url('./_fonts.scss');
@import url('./_colors.scss');
@import url('./_themes.scss');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', 'Arial', sans-serif;
  background-color: var(--body-bg-color);
  transition: background-color 1.2s;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1400px;
  color: inherit;
}
